* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#text {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-link {
    
}
.box:hover {
    transition: transform 1s ease-in-out;
    transform: scale(1.2, 1.2);
    background-color: oldlace;
}

.store-container {
    display: flex;
    justify-content: space-evenly;
}

.store-links {
    font-weight: 800;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: aliceblue;
    border-radius: 20px;
}

.store-links:hover {
    color: rgb(59, 93, 7);
    background-color: whitesmoke;
}

.smart-basket {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.offer-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.outerbox {
    height: 253px;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgb(221, 18, 18);
    margin-top: 10px;
    display: grid;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;


}

.innerbox {
    background-color: aliceblue;
    padding: 20px;
    padding-bottom: 10px;
    margin-left: 20%;
    color: black;
}

.fruit_juice_container {
    width: 100%;
    height: 400px;
    display: inline-block;
    position: relative;

}

.juice_img {
    display: block;
    width: 100%;
    height: 400px;
}

.overlay_text {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.smallbasket_container {
    display: flex;
    flex-direction: column;
}

.help_container {

    display: flex;
    flex-direction: column;

}

footer a {
    text-decoration: none;
    color: black;
}

.social_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}